[Unit]
Description=Universal command executor and automation platform
After=network.target redis.service

[Service]
ExecStart=/usr/bin/platypush -c /home/pi/.config/platypush/config.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=default.target