# Home Assistant integration (MQTT discovery)
homeassistant: false

# allow new devices to join
permit_join: true

# MQTT settings
mqtt:
  # MQTT base topic for zigbee2mqtt MQTT messages
  base_topic: zigbee2mqtt
  # MQTT server URL
  server: 'mqtt://localhost'
  # MQTT server authentication, uncomment if required:
   #user: pi
   #password: {{ pi_passwrd }}

# Serial settings
serial:
  # Location of CC2531 USB sniffer
  port: /dev/ttyACM0
  baudrate: 115200
  rtscts: false
advanced:
  network_key:
    - 247
    - 125
    - 65
    - 132
    - 32
    - 192
    - 147
    - 157
    - 169
    - 179
    - 24
    - 78
    - 87
    - 153
    - 252
    - 103

devices:
  '0x842e14fffe2a3505':
      friendly_name: 'Lamp 1'
  '0x7cb03eaa0a079953':
      friendly_name: 'Oprit'
  '0x00124b0018e2a303':
      friendly_name: 'Router 1'
  '0x00124b0014d9b724':
      friendly_name: 'Coordinator'
  '0x00158d0003a3519d'
      friendly_name: 'Jelmar'
  '0x00158d0003538d84'
    friendly_name: 'Roan'
  '0x00158d0003cebcba'
      friendly_name: 'Senne'
  '0x00158d0003a354c8'
    friendly_name: 'Zolder'